.main_container{
    margin:0 auto !important;
    margin-top: 10em;
    max-width: 90rem;
}

table{
    border: 1px solid rgba(0, 0, 0, 0.212);
}


thead tr .display-4{
    background-color: #132149;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

thead tr .network-table{
    background-color: #8a2222;
}

.net-title{
    margin-top: 12rem !important; 
}



thead .bg-dark{
    background-color: #0e1835 !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #11669f;
}

