.main-container{
    width: 100%;
    height: auto;
}

 

.hero__img_container{
    background-image: url("img/partners.jpg");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition:all 0.3s ease;
}

.hero__img_container .img_sizer{
    width: 100%;
    height: auto;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: all .4s ease-in; 
}

.hero__logo{
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    transform: scale(0.2) translate(0,-110%);
    opacity:0;
    transition: all .4s ease-in; 
}

.hero__img_container:hover .overlay{
    opacity:0;
}

.hero__img_container:hover .hero__logo{
    opacity:1;
}



.partners h2,
.partners h3,
.partners h4{
    opacity: 0;
    margin: 0.5rem auto 0.5rem auto; 
    transition: all .5s ease;
}

.partners li:hover h2{
    opacity: 1;
    transform: translateY(-3px);
}

.partners li:hover h3{
    opacity: 1;
    transform: translateY(-3px);
}

.partners li:hover h4{
    opacity: 1;
    transform: translateY(-3px);
}

.partners{
    list-style: none;
    max-width: 75em;

}

.card{
    width: 100%;
    height: 21rem;
}

.card-img-top{
    margin: auto 0;
}

.footer{
    margin-top: 20vw;
}