 /*=============================================
                card grid 
/*=============================================*/
 

@media (min-width: 280px){
    .main_content_grid{      
        margin-top: 2em !important;
        display: flex;
        align-content: center;
        margin: 0 auto;
        max-width: 65vw;
        display: grid;
        grid-row-gap: 2em; 
        grid-column-gap: 2em;
        grid-template-columns:repeat(auto-fit,minmax(220px, 1fr));
        justify-content: space-evenly;
    }

    .dropdown:hover>.dropdown-menu {
        width: auto;
        margin: 0;
    }
    .dropdown:hover>.dropdown-menu a {
        padding: 5px 2px 5px 8px;
        font-size: 13px;
    }
    
}





@media (min-width: 1366px) {
    .main_content_grid{
        margin-top: 5em !important;
        display: flex;
        align-content: center;
        margin: 0 auto;
        max-width: 68vw;
        display: grid;
        grid-row-gap: 4em; 
        grid-column-gap: 2em;
        grid-template-columns:repeat(auto-fit,minmax(280px, 1fr));
    
        

    }


    .dropdown:hover>.dropdown-menu {
        width: auto;
        margin: 0;
    }
    .dropdown:hover>.dropdown-menu a {
        padding: 15px auto;
        width: auto;
        font-size: 15px;


}

@media (min-width: 1500px) {
    .main_content_grid{
        margin-top: 5em !important;
        display: flex;
        align-content: center;
        margin: 0 auto;
        max-width: 66vw;
        display: grid;
        grid-row-gap: 4em; 
        grid-column-gap: 3em;
        grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));
 
        
    

    }
 
}


@media (min-width: 1700px) {
 
    .main_content_grid{
        margin-top: 5em !important;
        display: flex;
        align-content: center;
        margin: 0 auto;
        max-width: 66vw;
        display: grid;
        grid-row-gap: 3em; 
        grid-column-gap: 4.5em;
        grid-template-columns:repeat(auto-fit,minmax(260px, 1fr));
        justify-content: space-evenly;
        
    

    }
 
}
 
@media (min-width: 1900px) {
 
    .main_content_grid{
        margin-top: 5em !important;
       display: flex;
       align-content: center;
       margin: 0 auto;
       max-width: 66vw;
       display: grid;
       grid-row-gap: 3em; 
       grid-column-gap: 5em;
       grid-template-columns:repeat(auto-fit,minmax(320px, 1fr));
       justify-content: space-evenly;
    
   
   }
    


   
   
}
  

@media (min-width: 2300px) {
 
    .main_content_grid{
        margin-top: 5em !important;
       display: flex;
       align-content: center;
       margin: 0 auto;
       max-width: 66vw;
       display: grid;
       grid-row-gap: 5em; 
       grid-column-gap: 10em;
       grid-template-columns:repeat(auto-fit,minmax(400px, 1fr));
       justify-content: space-evenly;
    
   
   }
    
   
   
}


@media (min-width: 2720px) {
 
    .main_content_grid{
        margin-top: 5em !important;
        display: flex;
        align-content: center;
        margin: 0 auto;
        max-width: 66vw;
        display: grid;
        grid-row-gap: 10em; 
        grid-column-gap: 11em;
        grid-template-columns:repeat(auto-fit,minmax(480px, 1fr));
        grid-auto-rows: 300px;
     
    
    }
     
   
   
}



/* =====================================================
                    fancy cards
===================================================== */




.fancy_cards{ 
    max-width: 85%;
    height: 3%;
    margin: 6vw auto 0 auto;
    display: grid;
    grid-gap: 1em;
    margin-top: 10em;
    margin-bottom: 10em; 
    grid-template-areas:
        "long_card_1 short_card short_card"
        "long_card_1 long_card_2 long_card_2"
}

#long_card_1{
    grid-area: long_card_1;
}

#long_card_2{
    grid-area: long_card_2;
}


#short_card{
    grid-area: short_card;
}

}


@media (min-width : 280px)  and (max-width: 768px) {
    .fancy_cards{  
        display: none;
    }

    .collapse.show {
        display: block;
        background-color: #080e20;
        transition: 0.5s;
        margin-top: -2%;
        padding-right: 100%;
        padding-left: 100%;
        width: 100%;
    }

    .carousel{
        margin-top: 7em;
        display: block;
    }


    .blog-card .card-info{
        transform: translateY(8%);
        width: 100% !important;
        opacity: 1 !important;
        transition: all 0.5s;
    }




    .blog-card:hover .card-info{
        transform: translateY(2%)!important;
    }

    .blog-card:hover{
        transform: scale(1.04) !important;
    }


    

    .blog-card{
        border-radius: 0;
    }

    nav {
        padding: auto 0;
        height: 3.4em !important;
    }

    nav a img{
        margin-top: -11px;
        width: 110% !important;
        height: auto;
        margin-left: -1.5em !important;
    }


    .box_right{
        width: 100% !important;
        position: relative !important;
        z-index: 0 !important;
        display: block;
        border-radius: 0 !important;
    }
}


@media (min-width : 768px)  and (max-width: 1365px) {
    .fancy_cards{ 
        max-width: 85%;
        height: 3%;
        margin: 6vw auto 0 auto;
        display: grid;
        grid-gap: 1em;
        margin-top: 10em;
        margin-bottom: 10em; 
        grid-template-areas:
            "long_card_1 short_card "
            "long_card_1 short_card "
            "long_card_2 long_card_2"
    }
    
    #long_card_1{
        grid-area: long_card_1;
    }
    
    #long_card_2{
        grid-area: long_card_2;
    }
    
    
    #short_card{
        grid-area: short_card;
    }
    
}





/*=============================================
                PARNERS GRID
/*=============================================*/

.partners{
    display: grid;
    margin: 0 auto;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: auto;
}